[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/ddnet/ddnet-libs
	shallow = true
[submodule "src/external/TeeworldsBotLib"]
	path = src/external/TeeworldsBotLib
	url = git@github.com:TeeworldsBotLib/TeeworldsBotLib.git
